@use '../../styles/theme.scss' as theme;

:host {
    display: block;
    margin: 0 auto;
    color: theme.$component-fg;
    background-color: theme.$component-bg;    
    @include theme.component;
}

.header {
    color: theme.$component-header-fg;
    background-color: theme.$component-header-bg;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    margin-top: calc(theme.$component-radius * -1);

    h2 {
        text-align: center;
        text-transform: capitalize;
        margin: 0;
        padding: 0.5rem;
        font-size: 1.25rem;
    }
}

table {
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    border-spacing: 0;
}

th,
td {
    text-align: center;
    padding: 0.65rem 0.75rem;

    &:first-child {
        color: red;
    }
}

th {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    border: none;
}

.fecha-actual {
    font-weight: 600;
    color: theme.$component-header-fg;
    background-color: theme.$component-header-bg;
    border-radius: 50%;
}