:host {
    display: block;
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    /* Agregar el borde redondeado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
    padding: 1rem;
}

h2 {
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 0.5rem;
}

table {
    margin: 0;
    padding: 0;    
    width: 100%;
}

th,
td {    
    text-align: center;
    padding: 8px;        
}

th {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.fecha-actual {
    color: blue;
    font-weight: 600;
    border: 1px solid blue;
    border-radius: 4px;
}
